services:
  server:
    hostname: server
    build: 
      context: ./build
      dockerfile: Dockerfile
      args:
        TYPE: server
    image: ecpserver:latest
    container_name: ecpserver
    restart: always
    ports: 
      - 1972
      - 52773
      - 53773
    environment:
      - ISC_CPF_MERGE_FILE=/opt/irisapp/config/ECPserver.cpf
    volumes:
      - ./iris-shared:/opt/irisapp/iris-shared
      - ./config:/opt/irisapp/config
    command: --check-caps false
  client1:
    hostname: client1
    build:
      context: ./build
      dockerfile: Dockerfile
      args:
        TYPE: client
    image: ecpclient:latest
    container_name: ecpclient1
    restart: always
    depends_on:
      - server
    ports: 
      - 1972
      - 52773
      - 53773
    environment:
      - ISC_CPF_MERGE_FILE=/opt/irisapp/config/ECPclient.cpf
    volumes:
      - ./iris-shared:/opt/irisapp/iris-shared
      - ./config:/opt/irisapp/config
    command: --check-caps false
  client2:
    hostname: client2
    image: ecpclient:latest
    container_name: ecpclient2
    restart: always
    depends_on:
      - server
      - client1
    ports: 
      - 1972
      - 52773
      - 53773
    environment:
      - ISC_CPF_MERGE_FILE=/opt/irisapp/config/ECPclient.cpf
    volumes:
      - ./iris-shared:/opt/irisapp/iris-shared
      - ./config:/opt/irisapp/config
    command: --check-caps false
  webserver:
    hostname: webserver
    image: containers.intersystems.com/intersystems/webgateway:latest-em
    container_name: loadbalancer
    init: true
    restart: on-failure
    depends_on:
      - server
      - client1
      - client2
    ports:
      - '20080:80'
    volumes:
      - loadbalancer:/config.d
      - ./webgatewayconfig/loadbalancer:/websetup
    environment:
      - ISC_DATA_DIRECTORY=/config.d
      - ISC_CSP_INI_FILE=/websetup/CSP.ini
      - ISC_CSP_CONF_FILE=/websetup/CSP.conf
    command: 
      - /bin/bash -c "/configHttpd.sh && apache2ctl start" 
  wsdataserver:
    hostname: wsdataserver
    image: containers.intersystems.com/intersystems/webgateway:latest-em
    container_name: wsdataserver
    init: true
    restart: on-failure
    depends_on:
      - server
    ports:
      - '20090:80'
    volumes:
      - wsdataserver:/config.d
      - ./webgatewayconfig/wsdataserver:/websetup
    environment:
      - ISC_DATA_DIRECTORY=/config.d
      - ISC_CSP_INI_FILE=/websetup/CSP.ini
      - ISC_CSP_CONF_FILE=/websetup/CSP.conf
    command: 
      - /bin/bash -c "/configHttpd.sh && apache2ctl start"

  wsclient1:
    hostname: wsclient1
    image: containers.intersystems.com/intersystems/webgateway:latest-em
    container_name: wsclient1
    init: true
    restart: on-failure
    depends_on:
      - client1
    ports:
      - '20081:80'
    volumes:
      - wsclient1:/config.d
      - ./webgatewayconfig/wsclient1:/websetup
    environment:
      - ISC_DATA_DIRECTORY=/config.d
      - ISC_CSP_INI_FILE=/websetup/CSP.ini
      - ISC_CSP_CONF_FILE=/websetup/CSP.conf
    command: 
      - /bin/bash -c "/configHttpd.sh && apache2ctl start"
  wsclient2:
    hostname: wsclient2
    image: containers.intersystems.com/intersystems/webgateway:latest-em
    container_name: wsclient2
    init: true
    restart: on-failure
    depends_on:
      - client2
    ports:
      - '20082:80'
    volumes:
      - wsclient2:/config.d
      - ./webgatewayconfig/wsclient2:/websetup
    environment:
      - ISC_DATA_DIRECTORY=/config.d
      - ISC_CSP_INI_FILE=/websetup/CSP.ini
      - ISC_CSP_CONF_FILE=/websetup/CSP.conf
    command: 
      - /bin/bash -c "/configHttpd.sh && apache2ctl start"
volumes:
  loadbalancer: ~
  wsclient1: ~
  wsclient2: ~
  wsdataserver: ~
